@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* Small */

header {
    background-color: #6495ED;
    text-align: right;
    padding: 2em;

    a,
    a:visited {
        color: #FAEBD7;
    }

    a:hover {
        color: white;
    }

    ul {
        list-style: none;

        li {
            margin-top: 1em;
        }
    }
}

main {
    width: 100vw;
    background-color: #FAEBD7;

    h2 {

        a,
        a:visited {
            color: black;
        }
    }

    .post-date {
        color: grey;
    }

    article {
        background-color: white;
        margin: 1.5em;
        padding: 2em;
        box-shadow: 5px 5px 5px lightgrey;

        figure {
            width: 60vw;
            margin: auto;

            img {
                width: 100%;
            }
        }
    }
}

h1,
h2 {
    font-family: 'Lora', serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

    div {
        display: flex;
        flex-direction: column;
    }
}

a,
a:visited {
    text-decoration: none;
    color: #6495ED;
}

a:active,
a:visited:active {
    color: #DEB887;
}

a:hover {
    text-decoration: underline;
}

/* Large */
@media (min-width: 37em) {
    body {
        figure {
            max-width: 30vw;
        }

        div {
            flex-direction: row;

            header {
                width: 30vw;
            }
        }
    }
}