@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

header {
    background-color: #6495ED;
    text-align: right;
    padding: 2em
}

header a,
header a:visited {
    color: #FAEBD7
}

header a:hover {
    color: white
}

header ul {
    list-style: none
}

header ul li {
    margin-top: 1em
}

main {
    width: 100vw;
    background-color: #FAEBD7
}

main h2 a,
main h2 a:visited {
    color: black
}

main .post-date {
    color: grey
}

main article {
    background-color: white;
    margin: 1.5em;
    padding: 2em;
    box-shadow: 5px 5px 5px lightgrey
}

main article figure {
    width: 60vw;
    margin: auto
}

main article figure img {
    width: 100%
}

h1,
h2 {
    font-family: 'Lora', serif
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0
}

body div {
    display: flex;
    flex-direction: column
}

a,
a:visited {
    text-decoration: none;
    color: #6495ED
}

a:active,
a:visited:active {
    color: #DEB887
}

a:hover {
    text-decoration: underline
}

@media (min-width: 37em) {
    body figure {
        max-width: 30vw
    }

    body div {
        flex-direction: row
    }

    body div header {
        width: 30vw
    }
}